<div class="tab-pane" id="createContainner" ng-controller="ContainerController as ctrl">
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-equalizer font-blue-hoki"></i>
                                                    <span class="caption-subject font-blue-hoki bold uppercase">Simply Add Containner Info</span>
                                                    <span class="caption-helper">thanks...</span>
                                                </div>
                                                <div class="tools">
                                                    <a href="" class="collapse"> </a>
                                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                    <a href="" class="reload"> </a>
                                                    <a href="" class="remove"> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                <form id="newContainerForm" role="form" name="myForm" data-ng-submit="ctrl.submit()" class="horizontal-form" data-ng-init="ctrl.getContainersType()">
                                                    <div class="form-body">
                                                        <h3 class="form-section">Container Info</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Name : </label>
                                                                    <input type="text" id="firstName" data-ng-model="ctrl.container.name" name="cname" class="form-control"
                                                                    unique-value="{table: 'Container', column: 'name', id:ctrl.container.id}"
                                                                    placeholder="Enter your name" required data-ng-minlength="3">
                                                                    <span class="help-block"> This is inline help </span>
                                                                    <div class="has-error" data-ng-show="myForm.cname.$dirty">
		                                   							   <span data-ng-show="myForm.cname.$error.required">This is a required field</span>
		                                 							   <span data-ng-show="myForm.cname.$error.minlength">Minimum length required is 3</span>
		                                      						   <span data-ng-show="myForm.cname.$invalid">This field is invalid </span>
		                                      						   <span data-ng-show="ctrl.duplicate_container_name">This container name already exists in db</span>
		                                      						   <p class="help-block" ng-show="myForm.cname.$error.unique">Username is already taken.</p>
                                  		   							</div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Container Type</label>
                                                                    <select class="form-control" data-ng-model="ctrl.container.containerType" data-ng-options="type.name for type in ctrl.containersType" required>
																		<option value="">Select Container Type</option>
																	</select>
                                                                    <span class="help-block"> Select Container Type </span>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Suspended</label>
                                                                    <div class="radio-list">
                                                                        <label class="radio-inline">
                                                                            <input type="checkbox" class="form-control" data-ng-model="ctrl.container.suspended" name="suspended" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <!--/row-->
                                                        <h3 class="form-section">Address</h3>
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <div class="form-group">
                                                                    <label>Address</label>
                                                                     <input type="text" class="form-control" data-ng-model="ctrl.container.address" placeholder="Enter Container Address"  name="address"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/row-->
                                                    </div>
                                                    <div class="form-actions right">
                                                        <button type="button" class="btn default">Cancel</button>
                                                        <button type="submit"  data-ng-disabled="myForm.$invalid" class="btn blue">
                                                        <i class="fa fa-check"></i> Save
                                                        </button>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>