               <div class="page-content-wrap" >              
                                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Category Form</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                    <div class="row">
                   
                        <div class="col-md-6">                        

                            <!-- START JQUERY VALIDATION PLUGIN -->
                            <div  class="block"  data-ng-controller="ItemController as itemCtrl">
                                <h4> Create Or Update Categories </h4>
                                <form id="createUpdateCategories" role="form" name="myForm" data-ng-submit="itemCtrl.submitCategory()" class="form-horizontal" novalidate>
                                <div class="panel-body">
                                <div class="row">
                                	<div class="form-group col-md-12">
                                        <label class="col-md-3 control-label" >Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text"   data-ng-model="itemCtrl.category.name" name="categName" class="input form-control input-sm" placeholder="Enter your name" required data-ng-minlength="3"
                                            unique-value="{table: 'Category', column: 'name', id:itemCtrl.category.id}"/>
                                           <div class="has-error" data-ng-show="myForm.categName.$dirty">
		                                      <span data-ng-show="myForm.categName.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.categName.$error.minlength">Minimum length required is 3</span>
		                                      <span data-ng-show="myForm.categName.$invalid">This field is invalid </span>
		                                      <span data-ng-show="itemCtrl.duplicate_container_name">This container name already exists in db</span>
		                                      <p class="help-block" ng-show="myForm.categName.$error.unique">Item name is already taken.</p>
                                  		   </div>
                                        </div>
                                    </div> 
                                    </div>
                                    <div class="row" ng-init="itemCtrl.initParentCategories()">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Parent Category:</label>  
                                        <div class="col-md-9">
											<select data-ng-model="itemCtrl.category.parentCategory" data-ng-options="category.name for category in itemCtrl.parentCategories">
												<option value=""> Select Category </option>
											</select>
										</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Container Type:</label>  
                                        <div class="col-md-9">
											<select data-ng-model="itemCtrl.category.containerType" data-ng-options="type.name for type in itemCtrl.containersType" required>
												<option value="">Select Container Type</option>
											</select>
										</div>
                                    </div>
                                    </div>
                                    <div class="btn-group pull-right">
                                    
                                        <input class="btn btn-primary" type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
                                    </div>                                                                                                                          
                                </div>           
                                </form>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                            </div>
                        </div>
                    </div>
</div>  
                   
                        
