               <div class="page-content-wrap" >              
                                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Item Form</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                    <div class="row">
                   
                            <!-- START JQUERY VALIDATION PLUGIN -->
                            <div  class="page-content-wrap"  data-ng-controller="ItemController as itemCtrl">
                                 <div class="col-md-6">  
                                <div class="btn-group pull-right">
                                  <button  id="openCreateOrListItemsBTN" type="button" data-ng-click="itemCtrl.updateCreateOrListItems()" 
                                  class="btn btn-success custom-width">{{itemCtrl.createOrListItemsTitle}}</button> 
                                </div>  
                                <form id="createUpdateItems" role="form" name="myForm" data-ng-submit="itemCtrl.submitItem()" class="form-horizontal"
                                 novalidate   ng-show="itemCtrl.openCreateOrListItems">
                                <h4> Create Or Update Items </h4>
                                <div class="panel-body"  ng-init="itemCtrl.initNewCreateItem()">
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Select Item Reference:</label>  
                                        <div class="col-md-9">									
											<select>
												<option value=""> Select Item </option>
												<option data-ng-click="itemCtrl.itemReferenceChanged(itemRef)" data-ng-repeat="itemRef in itemCtrl.allItemReference"   
												data-ng-selected="itemRef.id == itemCtrl.item.itemReference.id">
												{{itemRef.name}}</option>
											</select>
										</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                	<div class="form-group col-md-12">
                                        <label class="col-md-3 control-label" >Item Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text"   data-ng-model="itemCtrl.item.name" name="iname" class="input form-control input-sm" 
                                            placeholder="Enter Item name" required data-ng-minlength="3"/>
                                           <div class="has-error" data-ng-show="myForm.iname.$dirty">
		                                      <span data-ng-show="myForm.iname.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.iname.$error.minlength">Minimum length required is 3</span>
                                  		   </div>
                                        </div>
                                    </div> 
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Selling Price:</label>  
                                        <div class="col-md-9">
                                            <input type="number"   data-ng-model="itemCtrl.item.sellingPrice" name="spname" class="input form-control input-sm" 
                                            placeholder="Enter Selling Price" required data-ng-minlength="1"/>
                                           <div class="has-error" data-ng-show="myForm.spname.$dirty">
		                                      <span data-ng-show="myForm.spname.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.spname.$error.minlength">Minimum length required is 1</span>
		                                      <span data-ng-show="myForm.spname.$error.number">Not valid number!</span>
                                  		   </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Minimum Number Of Items:</label>  
                                        <div class="col-md-9">
                                            <input type="number"   data-ng-model="itemCtrl.item.minimumNumberOfItems"  name="MNOfItems" class="input form-control input-sm" 
                                            placeholder="Enter Selling Price" required data-ng-minlength="1"/>
                                           <div class="has-error" data-ng-show="myForm.MNOfItems.$dirty">
		                                      <span data-ng-show="myForm.MNOfItems.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.MNOfItems.$error.minlength">Minimum length required is 1</span>
		                                      <span data-ng-show="myForm.MNOfItems.$error.number">Not valid number!</span>
                                  		   </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Select Car Parent Type:</label>  
                                        <div class="col-md-9">									
											<select>
												<option value=""> Select Item </option>
												<option data-ng-click="itemCtrl.updateFilteredCategories(item)" 
												data-ng-repeat="item in itemCtrl.currentContainerParentCategories"   
												data-ng-selected="item.id == itemCtrl.item.category.parentCategory.id">
												{{item.name}}</option>
											</select>
										</div>
                                    </div>
                              	   </div>
                              	   <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Select Car Type:</label>  
                                        <div class="col-md-9">									
											 <select>
												<option value=""> Select Item </option>
												<option data-ng-click="itemCtrl.updateFilteredSelectedCategoryModails(item)" data-ng-repeat="item in itemCtrl.filteredCategories "   
												data-ng-selected="item.id == itemCtrl.item.category.id">
												{{item.name}}</option>
											</select> 
										</div>
                                    </div>
                              	   </div>
                              	   <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Select Car Model:</label>  
                                        <div class="col-md-9">									
										<select>
												<option value=""> Select Item </option>
												<option data-ng-repeat="modail in itemCtrl.filteredSelectedCategoryModails" data-ng-click="itemCtrl.itemModailChanged(modail)"   
												data-ng-selected="modail.id == itemCtrl.item.modail.id">
												{{modail.name}}</option>
											</select>	
										</div>
                                    </div>
                              	   </div>
                                    <div >
                                        <input class="btn btn-primary" id="submitBTN" type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
                                   		<input  id="cancelOpenCreateOrListItemsBTN" value="Cancel" type="button" data-ng-click="itemCtrl.updateCreateOrListItems()" 
                                  					class="btn btn-danger btn-primary"> 
                                    </div>                                                                                                                          
                              	   </div>     
                                </form>
                                </div>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                            	
                            	<div id="listItems" ng-hide="itemCtrl.openCreateOrListItems"  class="ng-hide"  ng-init="itemCtrl.listItems()">
					                <div class="page-title">                    
					                    <h2><span class="fa fa-arrow-circle-o-left"></span> List Items</h2>
					                </div>
					                <!-- END PAGE TITLE -->  
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-default" >
												<div class="panel-heading">
													<h3 class="panel-title">Default</h3>
													<ul class="panel-controls"><li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
														<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
														<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
													</ul>
												</div>
           										<div class="col-md-6">
           										<h3 class="panel-title">Search</h3>
	           										<div class="input-group push-down-10">
			                                            <input type="text" class="form-control" placeholder="Search...." ng-model="search" />
			                                            <span class="input-group-addon"><span class="fa fa-search"></span></span>     
	                                            	</div> 
           										</div>
           										
												<div class="panel-body" id="listItems">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>Index.</th>
															<th>ID.</th>
															<th>Item Name</th>
															<th>Item Category</th>
															<th>Selling Price</th>
															<th>Minimum Number Of Items</th>
															<th>Modail</th>
															<th width="20%"></th>
														</tr>
													</thead>
													<tbody>
														<tr data-ng-repeat="item in itemCtrl.items|filter:search | startFrom:3  | limitTo:10">
															<td>[{{$index + 1}}]</td>
															<td><span data-ng-bind="item.id"></span></td>
															<td><span data-ng-bind="item.name"></span></td>
															<td><span data-ng-bind="item.category.name"></span></td>
															<td><span data-ng-bind="item.sellingPrice"></span></td>
															<td><span data-ng-bind="item.minimumNumberOfItems"></span></td>
															<td><span data-ng-bind="item.modail.name"></span></td>
															<td>
																<button  id="editeItem"  type="button" data-ng-click="itemCtrl.editItem(item)" class="btn btn-success custom-width">Edit</button>
																<button  id="deleteItem" type="button" data-ng-click="itemCtrl.removeItem(item.id,$index + 1)" class="btn btn-danger custom-width">Remove</button>
															</td>
														</tr>
													</tbody>
												</table>
													<div align="center !important">
													  <paging page="0" page-size="10" total="1000" 
													    paging-action="itemCtrl.pagingAct('Paging Clicked', page, pageSize, total)">
													</div>
												</div>
											</div>
										</div>
								</div>
                            </div>
                        </div>
                    </div>
</div>  
                   
                        
