
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap" data-ng-app="myApp"  data-ng-controller="ContainerController as ctrl">                
				
				<div id="editContainer" ng-show="ctrl.openEditContainerForm" >
                
                    <div class="row">
                   
                        <div class="col-md-6">                        

                            <!-- START JQUERY VALIDATION PLUGIN -->
                            <div  class="block" >
                                <h4>Create Or Update Container</h4>
                                <form id="updateContainer" role="form" name="myForm" data-ng-submit="ctrl.submit()" class="form-horizontal" novalidate>
                                <div class="panel-body">
                                <div class="row">
                                	<div class="form-group col-md-12">
                                        <label class="col-md-3 control-label" >Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text"   data-ng-model="ctrl.container.name" name="cname" class="input form-control input-sm" placeholder="Enter your name" required data-ng-minlength="3"
                                            unique-value="{table: 'Container', column: 'name', id:ctrl.container.id}"/>
                                           <div class="has-error" data-ng-show="myForm.cname.$dirty">
		                                      <span data-ng-show="myForm.cname.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.cname.$error.minlength">Minimum length required is 3</span>
		                                      <span data-ng-show="myForm.cname.$invalid">This field is invalid </span>
		                                      <span data-ng-show="ctrl.duplicate_container_name">This container name already exists in db</span>
		                                      <p class="help-block" ng-show="myForm.cname.$error.unique">Username is already taken.</p>
                                  		   </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Address:</label>  
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" data-ng-model="ctrl.container.address" placeholder="Enter Container Address"  name="address"/>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Type:</label>  
                                        <div class="col-md-9">
											<select data-ng-model="ctrl.container.containerType" data-ng-options="type.name for type in ctrl.containersType" style="color:black;" required>
												<option value="">{{ctrl.container.containerType.name}}</option>
											</select>
										</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Suspended:</label>  
                                        <div class="col-md-9">
                                            <input type="checkbox" class="form-control" data-ng-model="ctrl.container.suspended" name="suspended" />
                                        </div>
                                    </div>               
                                    </div>                                                                                   
                                    <div class="btn-group pull-right">
                                        <input class="btn btn-primary" type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
                                    </div>
                                    <div class="btn-group pull-right">
                                        <input id="cancelForm" class="btn btn-primary"  value="cancel"  data-ng-click="ctrl.openEditContainerForm = ! ctrl.openEditContainerForm"/> 
                                    </div>                                                                                                                          
                                </div>           
                                </form>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                            </div>
                        </div>
                    </div>
				</div>
                
                <div id="listContainers" ng-hide="ctrl.openEditContainerForm" >
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> List Containers</h2>
                </div>
				<div class="row">

					<div class="col-md-12">

						<div class="panel panel-default" >
							<div class="panel-heading">
								<h3 class="panel-title">Default</h3>
								<ul class="panel-controls"><li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
									<li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
									<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
								</ul>
							</div>
							<div class="panel-body">
<!-- 							We need to add datatable class to table tag, it stop controller execution (it's a Jquery plugin)   -->
							<table class="table table-hover ">
								<thead>
									<tr>
										<th>ID.</th>
										<th>Container Name</th>
										<th>Container Type</th>
										<th>Address</th>
										<th>Suspended</th>
										<th width="20%"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="c in ctrl.containers">
										<td><span data-ng-bind="c.id"></span></td>
										<td><span data-ng-bind="c.name"></span></td>
										<td><span data-ng-bind="c.containerType.name"></span></td>
										<td><span data-ng-bind="c.address"></span></td>
										<td><span data-ng-bind="c.suspended"></span></td>
										<td>
											<button type="button" data-ng-click="ctrl.edit(c.id)" class="btn btn-success custom-width">Edit</button>
											<button type="button" data-ng-click="ctrl.remove(c.id)" class="btn btn-danger custom-width">Remove</button>
												
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			        <!-- MESSAGE BOX-->
	        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
	            <div class="mb-container">
	                <div class="mb-middle">
	                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
	                    <div class="mb-content">
	                        <p>Are you sure you want to log out?</p>                    
	                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
	                    </div>
	                    <div class="mb-footer">
	                        <div class="pull-right">
	                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
	                            <button class="btn btn-default btn-lg mb-control-close">No</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
	            <div class="mb-container">
	                <div class="mb-middle">
	                    <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
	                    <div class="mb-content">
	                        <p>Are you sure you want to remove this row?</p>                    
	                        <p>Press Yes if you sure.</p>
	                    </div>
	                    <div class="mb-footer">
	                        <div class="pull-right">
	                            <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
	                            <button class="btn btn-default btn-lg mb-control-close">No</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="message-box animated fadeIn" data-sound="alert" id="mb-update-container"  >
	            <div class="mb-container">
	                <div class="mb-middle">
	                    <div class="mb-title"><span class="fa fa-times"></span> Updating Container  <strong>{{ctrl.container.name}}</strong> ?</div>
	                    <div class="mb-content">
						
						<div class="row">
	                        <div class="col-md-6">                        
	                            <div  class="block" >
	                               <form  role="form" name="myForm" data-ng-submit="ctrl.submit()" class="form-horizontal" novalidate>
	                                <div class="panel-body">
	                                <div class="row">
	                                	<div class="form-group col-md-12">
	                                        <label class="col-md-3 control-label" >Name:</label>  
	                                        <div class="col-md-9">
	                                            <input type="text"   data-ng-model="ctrl.container.name" name="cname" class="input form-control input-sm" placeholder="Enter your name" required data-ng-minlength="3"/>
	                                           <div class="has-error" data-ng-show="myForm.cname.$dirty">
			                                      <span data-ng-show="myForm.cname.$error.required">This is a required field</span>
			                                      <span data-ng-show="myForm.cname.$error.minlength">Minimum length required is 3</span>
			                                      <span data-ng-show="myForm.cname.$invalid">This field is invalid </span>
			                                      <span data-ng-show="ctrl.update_duplicate_container_name">This container name already exists in db</span>
	                                  		   </div>
	                                        </div>
	                                    </div> 
	                                    </div>
	                                    <div class="row">
	                                    <div class="form-group col-md-12">
	                                        <label class="col-md-3 control-label">Address:</label>  
	                                        <div class="col-md-9">
	                                            <input type="text" class="form-control" data-ng-model="ctrl.container.address" placeholder="Enter Container Address"  name="address"/>
	                                        </div>
	                                    </div>
	                                    </div>
	                                    <div class="row">
	                                    <div class="form-group col-md-12">
	                                        <label class="col-md-3 control-label">Type:</label>  
	                                        <div class="col-md-9">
														<select   data-ng-model="ctrl.container.containerType" data-ng-options="type.name for type in ctrl.containersType" style="color:black;">
														<option value="">{{ctrl.container.containerType.name}}</option>
													</select>
												</div>
	                                    </div>
	                                    </div>
	                                    <div class="row">
	                                    <div class="form-group">
	                                        <label class="col-md-3 control-label">Suspended:</label>  
	                                        <div class="col-md-9">
	                                            <input type="checkbox" class="form-control" data-ng-model="ctrl.container.suspended" name="suspended" />
	                                        </div>
	                                    </div>               
	                                    </div>                                                                                   
	                                </div>           
	                                </form>  
	                            </div>
	                        </div>
	                    </div>
						
	                    </div>
	                    <div class="mb-footer">
	                        <div class="pull-right">
	                            <button class="btn btn-success btn-lg mb-control-yes" data-ng-disabled="myForm.$invalid">Yes</button>
	                            <button class="btn btn-default btn-lg mb-control-close">No</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        <!-- END MESSAGE BOX-->
			
			
			</div>
                <!-- END PAGE CONTENT WRAPPER -->                
            