               <div class="page-content-wrap" >              
                                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Container Form</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                    <div class="row">
                   
                        <div class="col-md-6">                        

                            <!-- START JQUERY VALIDATION PLUGIN -->
                            <div  class="block"  data-ng-controller="ContainerController as ctrl">
                                <h4>Create Or Update Container</h4>
                                <form id="jvalidate" role="form" name="myForm" data-ng-submit="ctrl.submit()" class="form-horizontal" novalidate>
                                <div class="panel-body">
                                <div class="row">
                                	<div class="form-group col-md-12">
                                        <label class="col-md-3 control-label" >Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text"   data-ng-model="ctrl.container.name" name="cname" class="input form-control input-sm" placeholder="Enter your name" required data-ng-minlength="3"
                                            unique-value="{table: 'Container', column: 'name', id:ctrl.container.id}"/>
                                           <div class="has-error" data-ng-show="myForm.cname.$dirty">
		                                      <span data-ng-show="myForm.cname.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.cname.$error.minlength">Minimum length required is 3</span>
		                                      <span data-ng-show="myForm.cname.$invalid">This field is invalid </span>
		                                      <span data-ng-show="ctrl.duplicate_container_name">This container name already exists in db</span>
		                                      <p class="help-block" ng-show="myForm.cname.$error.unique">Username is already taken.</p>
                                  		   </div>
                                        </div>
                                    </div> 
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Address:</label>  
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" data-ng-model="ctrl.container.address" placeholder="Enter Container Address"  name="address"/>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Type:</label>  
                                        <div class="col-md-9">
											<select data-ng-model="ctrl.container.containerType" data-ng-options="type.name for type in ctrl.containersType" required>
												<option value="">Select Container Type</option>
											</select>
										</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Suspended:</label>  
                                        <div class="col-md-9">
                                            <input type="checkbox" class="form-control" data-ng-model="ctrl.container.suspended" name="suspended" />
                                        </div>
                                    </div>               
                                    </div>                                                                                   
                                    <div class="btn-group pull-right">
                                    
                                        <input class="btn btn-primary" type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
                                    </div>                                                                                                                          
                                </div>           
                                </form>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                            </div>
                        </div>
                    </div>
</div>  
                   
                        
