
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap" data-ng-app="myApp" data-ng-controller="UserController as ctrl" >                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> User Form</h2>
                </div>
                <!-- END PAGE TITLE -->   
                    <div class="row">
                   
                        <div class="col-md-6">                        

                            <!-- START JQUERY VALIDATION PLUGIN -->
                            <div  class="block"  >
                                <h4>Create User</h4>
                                <form   role="form" name="myForm" data-ng-submit="ctrl.submit()" class="form-horizontal" novalidate>
                                <div class="panel-body">
                                <div class="row">
                                	<div class="form-group col-md-12">
                                        <label class="col-md-3 control-label" >Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text"   data-ng-model="ctrl.user.name" name="name" class="input form-control input-sm" placeholder="Enter your name" required data-ng-minlength="3"/>
                                           <div class="has-error" data-ng-show="myForm.name.$dirty">
                                      <span data-ng-show="myForm.name.$error.required">This is a required field</span>
                                      <span data-ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                      <span data-ng-show="myForm.name.$invalid">This field is invalid </span>
                                  </div>
                                        </div>
                                    </div> 
                                    </div>
                                    <div class="row">                                   
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label"  >User Name:</label>  
                                        <div class="col-md-9">
                                            <input type="text" class="input form-control input-sm" data-ng-model="ctrl.user.userName" placeholder="Enter your account name"  
                                            name="uname" required data-ng-minlength="3" unique-value="{table: 'User', column: 'userName', id:ctrl.user.id}"/>
                                            <div class="has-error" data-ng-show="myForm.uname.$dirty">
		                                      <span data-ng-show="myForm.uname.$error.unique">This user name already exists in db </span>
		                                    </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="pw1" class="col-md-3 control-label">Password:</label>                                        
                                        <div class="col-md-9">
                                            <input type="password" class="input form-control" id="pw1" name="pw1" ng-model="pw1"  required/>
												<div class="has-error" data-ng-show="myForm.pw1.$dirty">
													<span data-ng-show="myForm.pw1.$error.required">This is a required field</span> 
												</div>
											</div>
                                    </div>
                                    </div> 
                                    <div class="row">                   
                                    <div class="form-group col-md-12">
                                        <label for="pw2" class="col-md-3 control-label">Confirm Password:</label>                                       
                                        <div class="col-md-9">
                                            <input type="password"   class="input form-control" id="pw2" name="pw2" ng-model="pw2" required  pw-check="pw1" required />
											 	<div class="msg-block" ng-show="myForm.$error">
						            				 <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span> 
						            			</div> 
										</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div  class="form-group col-md-12">
                                        <label  class="col-md-3 control-lable" for="email" >Email:</label>  
                                        <div class="col-md-9">
                                            <input type="email" class="input form-control input-sm"  data-ng-model="ctrl.user.email" id="emai" name="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                             <div class="has-error" data-ng-show="myForm.email.$dirty">
		                                      <span data-ng-show="myForm.email.$error.required">This is a required field</span>
		                                      <span data-ng-show="myForm.email.$invalid">This email is invalid format </span>
                                  			</div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-3 control-label">Address:</label>  
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" data-ng-model="ctrl.user.address" placeholder="Enter your Address"  name="address"/>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Suspended:</label>  
                                        <div class="col-md-9">
                                            <input type="checkbox" class="form-control" data-ng-model="ctrl.user.suspended" name="suspended" />
                                        </div>
                                    </div>               
                                    </div>            
                                    </br>                                                                       
                                    <div class="row">
                                    <div class="col-md-8" >
                                    <div class="panel panel-default" id="showUserRoleDescriptionInContainer">
                                    
                                    	<div class="panel-body faq" data-ng-repeat="cont in ctrl.listofassignedroles">
                                    	 
                                    	<div class="faq-item" data-ng-click="ctrl.showRolesAndDescription()">
                                    	
                                        <div class="faq-title"><span class="fa fa-angle-down"></span>{{cont.containername}}</div>
                                        <div class="faq-text" data-ng-repeat="role in cont.role">
                                            <h5>{{role.name}}</h5>
                                            <p>Role Description : {{role.desc}}</p>
                                        </div>
                                    	</div>
                                    	 
                                    	</div>
                                    </div>
                                    <div class="col-md-9">
                                            <input type="button" class="btn btn-primary" data-ng-click="ctrl.emptylistofassignedroles()" value="Remove Roles From User" />
                                        </div>
                                    </div>
                                    	<br/><br/><br/>
                                        <div class="col-md-9">
                                            <input type="button" class="btn btn-primary" data-ng-click="ctrl.listContainersToUser()" value="Assign User To Container" />
                                        </div>
                                                   
                                    
                                    <div class="btn-group pull-right">
                                        <input class="btn btn-primary" type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
                                    </div> 
                                    
                                    </div>                                                                                                                           
                                </div>           
                                </form>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                            </div>
                        </div>
                    </div>

                   <!-- MESSAGE BOX-->
			        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
			            <div class="mb-container">
			                <div class="mb-middle">
			                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
			                    <div class="mb-content">
			                        <p>Are you sure you want to log out?</p>                    
			                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
			                    </div>
			                    <div class="mb-footer">
			                        <div class="pull-right">
			                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
			                            <button class="btn btn-default btn-lg mb-control-close">No</button>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			        
			        <div class="message-box animated fadeIn" data-sound="alert" id="assign-user-to-containers"  >
         		   <div class="mb-container">
	                <div class="mb-middle">
	                    <div class="mb-title"><span class="fa fa-times"></span> Assign User To Container </div>
	                    <div class="mb-content">
						<div class="row">
	                        <div class="col-md-6" style="width: 100%">                        
	                            <div  class="block" >
	                             <table  >
									<thead>
										<tr>
											<th>Container Name</th>
											<th>Container Type</th>
											<th>User Roles In Container</th>
											<th width="35%"></th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="c in ctrl.containers">
											<td><span data-ng-bind="c.name"></span></td>
											<td><span data-ng-bind="c.containerType.name"></span></td>
											<td>
											<div ng-dropdown-multiselect="" options="ctrl.Roles" selected-model="c.role" extra-settings="ctrl.dropdownMltiselectSettings"></div>
											</td>
											<td>
											</td>
										</tr>
									</tbody>
								</table>
	                            </div>
	                        </div>
	                    </div>
	                    </div>
	                    <div class="mb-footer">
	                        <div class="pull-right">
	                        	<button type="button" id="saveUserRoles" data-ng-click="ctrl.assignRolesToUser()" class="btn btn-danger custom-width mb-control-yes">Save Priviledges</button>
	                            <button class="btn btn-default btn-lg mb-control-close"  >Close</button>
	                        </div>
	                     </div>
	                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
                        
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
